/IRCTCapplicationAPI/.vs/
/IRCTCapplicationAPI/bin/
/IRCTCapplicationAPI/obj/
/IRCTCapplicationAPI/IRCTC.Repository/obj/
/IRCTCapplicationAPI/IRCTC.Repository/bin/
/IRCTCapplicationAPI/IRCTCapplicationAPI/obj/
/IRCTCapplicationAPI/IRCTCapplicationAPI/bin/
/IRCTCapplicationAPI/IRCTCModel/obj/
/IRCTCapplicationAPI/IRCTCModel/bin/
