<p>Passenger List</p>
<table border="1px solid black" style="width:100%; margin:0;text-align: center;">
    <tr bgcolor="#b8b8b8" height="50px">
        <th><b>PASSENGER NAME</b></th>
        <th><b>SEAT ID</b></th>
        <th><b>COURSE NAME</b></th>
        <th><b>BOOKING ID</b></th>
    </tr>
    <tr height="50px" *ngFor="let i of passengerData">
        <td>{{i.passengerName}}</td>
        <td>{{i.seatId}}</td>
        <td>{{i.coachName}}</td>
        <td>{{i.bookingId}}</td>
        <div *ngIf="view">
        <td>
            <input type="checkbox"name="marking" (change)="onCheck($event)"/>
        </td></div>
        <td>{{val}}</td>
    </tr>
</table>
