<h2>View Trains</h2>
<div>
<form [formGroup]="fromSearch"(click)="onFromSearch()">
    <br>
  
    <label>From:</label>
    <input type="text" formControlName="from" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of data" [value]="option.stationName">
          {{option.stationName}}

        </mat-option>
      </mat-autocomplete>
 
</form>
<form [formGroup]="toSearch"(click)="onToSearch()">
    <br>
  
    <label>To:</label>
    <input type="text" formControlName="to" [matAutocomplete]="autoStation">
    <mat-autocomplete #autoStation="matAutocomplete">
        <mat-option *ngFor="let option of toData" [value]="option.stationName">
          {{option.stationName}}
        </mat-option>
      </mat-autocomplete>
    
</form >
<form [formGroup]="coachSearch" (click)="onCoachSearch()">
  <br>
  <label>Class:</label>
  <input type="text" formControlName="coach" [matAutocomplete]="autoCoach">
    <mat-autocomplete #autoCoach="matAutocomplete">
        <mat-option *ngFor="let option of coachData" [value]="option.coachName">
          {{option.coachName}}
        </mat-option>
      </mat-autocomplete>
<br><br>
    <label>Date:</label>
    <input type="date" formControlName="searchDate" (change)="onDate($event)">
    <br><br>
    <button class="button" (click)="onSearch()">Search</button>
</form>
</div>