<table *ngFor="let i of selectVal">
<tr>
    <td>Train Name:{{i.trainName}}({{i.trainId}})</td>
</tr>
<tr>
    <td>From Station:{{i.fromStationName}}</td>
    <td>To Station:{{i.toStationName}}</td>  
</tr>
<tr>
    <td>Departure Time:{{i.departureTime}}</td>
    <td>Reaching Time:{{i.reachingTime}}</td>
</tr>
<tr>
    <td>Coach Name:{{i.coachName}}</td>
</tr>
</table>

<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Age
        </th>
        <th>
            Gender
        </th>
    </tr>
    <tr  *ngFor="let i of newPassengerList">
        <td>
            {{i.name}}
        </td>
        <td>
            {{i.age}}
        </td>
        <td>
            {{i.gender}}
        </td>      
    </tr>
</table>
<button (click)="addPassenger()">Add Passenger</button>
<form *ngIf="view" [formGroup]="passengerGroup">
    <label>Name:</label>
    <input type="text" id="passengerName" formControlName="passengerName"/><br><br>
    <label>Age:</label>
    <input type="text" id="passengerAge" formControlName="passengerAge"/><br><br>
    <label>Gender:</label>
    <input type="text" id="passengeGender" formControlName="passengeGender"/><br><br>
    <label>Preference:</label>
    <select  formControlName="preference" id="userType" (change)="getSelectedValue($event)">
        <option value="none" selected disabled hidden>Select an Option</option>
        <option value="LowerBerth">Lower Berth</option>
        <option value="UpperBerth">Upper Berth</option>
        <option value="MiddleBerth">Middle Berth</option>
        <option value="WindowSeat">Window Seat</option>
        <option value="MiddleSeat">Middle Seat</option>
        <option value="AisleSeat">Aisle Seat</option>
    </select><br><br>
    <select *ngFor="let i of seats" >
        <option>{{i.seatName}}</option>
    </select>

    
    <input type="button" (click)="add()" value="Add"/>
   
</form><br><br>
<button (click)="onBook()">Book</button>
